.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}

.card-img {
  padding-top: 1%;
  background-repeat: no-repeat;
  background-size: cover;
}